
div{
    position: relative;
    margin-top: 5px;
    font-size: 120%;
    left: 35%;
}

@media only screen and (max-width: 1195px){
    div{
        position: relative;
        margin-top: 5px;
        font-size: 120%;
        left: 1%;
    }
}

iframe{
    border : none;
}